body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 3rem;
  color: #daaf97d3;
  font-weight: bold;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: orangered;
  border-color: orangered;
}

.btn-secondary:hover {
  background-color: rgb(224, 95, 19);
  border-color: rgb(39, 29, 24);

  transform: scale(1.05);
}

hr {
  border-color: rgb(224, 95, 19);
  border-width: 3px;
  max-width: 65px;
}
.btn-xl {
  padding: 1rem 2rem;
}
.buffer {
  height: 10rem;
}
